{% extends "base.html" %}
{% load static %}
{% block title %}Empresas{% endblock title %}

{% block content %}

<form class="navbar-form navbar-right" action="" method="get">

    <button type="button" class="btn btn-primary js-create-company" data-url="{% url 'crm:company_add' %}">
        <span class="glyphicon glyphicon-plus"></span> Adicionar
    </button>

    <!-- search form -->
    <div class="form-group">
        <input id="search_box" name="search_box" type="text" placeholder="Search..." class="form-control">
        <button type="submit" class="btn btn-success form-control"><span class="glyphicon glyphicon-search"></span></button>
    </div>
</form>

<h2>Lista de Empresas</h2>
<!-- o if company_list estava gerando o problema com atulizar o primeiro registro, por isso mudei -->
<table class="table table-striped" id="company-table">
    <thead>
    <tr>
        <th>Empresa</th>
        <th>Usuário</th>
        <th>Criado em</th>
    </tr>
    </thead>
    <tbody>

    {% include "includes/partial_company_list.html" %}
    </tbody>
</table>




<div>
    {% if count > 0 %}
    <hr>
    <h3>{{ company_list|length }} empresa{{ company_list|length|pluralize }}</h3>
    <h4><b>Total:</b> {{ page_obj.paginator.count }} empresa{{ page_obj.paginator.count|pluralize }}</h4>
    {% endif %}
</div>

<!-- modal -->
<div id="modal-company" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content"></div>
    </div>
</div>

{% endblock content %}

{% block java_script %}
<script src="{% static 'js/apps.js' %}"></script>
{% endblock %}
