dj-database-url==0.4.1
Django==1.8.17
django-bootstrap-form==3.2.1
django-debug-toolbar==1.6
django-extensions==1.7.5
django-localflavor==1.2
names==0.3.0
python-decouple==3.0
pytz==2016.10
six==1.10.0